.footer__container {
    padding: 10px 20px;
    text-align: center;
    background-color: #2b3137;
    word-spacing: 5px;

    .fa-heart {
        color: #f31c1c;
    }

    .fa-mug-hot {
        color: #ffffff;
    }

    a {
        color: #ffffff;
        font-weight: 600;
    }
}
